body {font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;font-family: "宋体";font-size: 12px;min-width:970px;color:#4b4b4b}
*{padding: 0;margin: 0;}
ul, ol, dl,li{list-style-type: none;}
a img {border: none;outline:none}
/*左浮动*/
.leftfloat {float: left}
/*右浮动*/
.rightfloat {float: right}
/*清除浮动*/
.clearfloat { clear:both;height:0;font-size: 1px;line-height: 0px;}
/*链接start*/
a{color:#696969;text-decoration:none;outline:none;text-align:center}
a:hover{color:#e50717}
.font14bolda{font-size:14px;font-weight:bold;}
.font14bolda:hover{color:#2a5eb1}
/*链接end*/

/*字体start*/
.font14{font-size:14px}
.red14font{font-size:14px;color:#f00;font-weight:bold}
.blackfont14{font-size:14px;color:#000;font-weight:bold}
.grayfont{font-size:12px;font-weight:normal}
/*字体end*/
