#header ,#navdiv ,#tabdiv ,#footer ,#contentDiv{width:970px;margin:0 auto;}
/*头部*/
/* #header{height:50px;} */
/* #header .logodiv{float:left;padding-top:10px;} */
/* #header .logindiv{float:right;padding-top:10px;color:#010101;} */
/* #header .logindiv a{border:none;color:#6a6a6a} */
/* #header .logindiv a:hover{text-decrotation:underline} */
/* #header .logindiv  p{background:url(../image/welcome.png) left no-repeat;padding-left:30px;margin-top:5px;color:#3F93E9} */
/* #header{height:50px;} */


/*顶部菜单-start*/
.navoutdiv{border-bottom:#555555 solid 5px;height:86px;background:url(../image/top_bg.png) center repeat}
#navdiv .logodiv{float:left;padding-top:20px;}
#navdiv .menudiv{float:left;padding-top:36px;}
#navdiv .menudiv ul{float:left}
#navdiv .menudiv ul li{width:120px;float:left;text-align:center;height:50px;line-height:50px;}
/*当前选中的菜单采用加上此样式*/
#navdiv .menudiv  ul  .selectli{background:url(../image/arrowup.png) bottom no-repeat;}
#navdiv .menudiv  ul .lineli{width:10px;background:url(../image/slant.png) center no-repeat}
#navdiv .menudiv  ul li a{font-size:14px;color:#010101;font-weight:bold}
#navdiv .logindiv{float:right;padding-top:30px;color:#010101;}
#navdiv .logindiv a{border:none;color:#6a6a6a}
#navdiv .logindiv a:hover{text-decrotation:underline}
#navdiv .logindiv  p{background:url(../image/welcome.png) left no-repeat;padding-left:30px;margin-top:5px;color:#3F93E9}
 /*顶部菜单-end*/
/*广告区域背景*/
.bannerout{height:600px;position:relative}
.bannerimg{height:460px;position:relative;;border-bottom:solid 5px #e7e7e7;}
.prebanner{position:absolute;left:80px;top:150px;display:block;height:54px;width:14px;background:url(../image/left.png) center no-repeat;z-index:1}
.prebanner:hover{background:url(../image/left_hover.png) center no-repeat;z-index:1}
.bannerimg .bannera{width:970px;height:460px;display:block;margin:0 auto;}
.nextbanner{position:absolute;right:80px;top:150px;display:block;height:54px;width:14px;background:url(../image/right.png) center no-repeat;z-index:1}
.nextbanner:hover{background:url(../image/right_hover.png) center no-repeat;z-index:1}

/*导航菜单*/
#tabdiv{position:relative;top:-190px;margin:0 auto;background:url(../image/contents.png) center no-repeat;height:300px;}
#tabdiv .tab-head{height:69px;width:970px;padding-top:10px;padding-left:9px;}
#tabdiv .tab-head a{display:block;float:left;height:69px;line-height:70px;text-align:center;font-size:14px;font-weight:bold}
.ticker-link{width:238px;background:url(../image/tab_01_normal.png) center no-repeat;color:#6D6B6B;}
.ticker-link:hover{color:#285CAF}
.ticker-sel{width:238px;background:url(../image/tab_01_hover.png) center no-repeat;color:#fff;}
.ticker-sel:hover{color:#fff}
.flight-link{width:238px;background:url(../image/tab_02_normal.png) center no-repeat;color:#6D6B6B;}
.flight-link:hover{color:#285CAF;}
.flight-sel{width:238px;background:url(../image/tab_02_hover.png) center no-repeat;color:#fff;}
.flight-sel:hover{color:#fff}
.check-link{width:238px;background:url(../image/tab_03_normal.png) center no-repeat;color:#6D6B6B;}
.check-link:hover{color:#285CAF;}
.check-sel{width:238px;background:url(../image/tab_03_hover.png) center no-repeat;color:#fff;}
.check-sel:hover{color:#fff;}
.my-link{width:238px;background:url(../image/tab_04_normal.png) center no-repeat;color:#6D6B6B;}
.my-link:hover{color:#285CAF;}
.my-sel{width:238px;background:url(../image/tab_04_hover.png) center no-repeat;color:#fff;}
.my-sel:hover{color:#fff}
/* 机票预定 */
.ticker-tab{height:220px;background:url(../image/tab_01_bg.png) center no-repeat;}
.search{display:block;width:174px;height:36px;background:url(../image/search.png) center no-repeat}
.search:hover{background:url(../image/search_hover.png) center no-repeat}
/* 航班动态 */
.flight-tab{height:180px;display:none;padding-left:60px;padding-top:40px;background:url(../image/tab_02_bg.png) center no-repeat;}
.flight-tab div{margin-bottom:10px;}
.flight-tab .lable{color:#6B6B6B;}
.flight-tab  input{border:solid 1px #ccc;height:22px;line-height:22px;margin-left:10px;width:160px;}
.flight-tab .quick-search{display:block;width:174px;height:33px;margin-left:30px;background:url(../image/tab_02_btn.png) center no-repeat;}
.flight-tab .quick-search:hover{background:url(../image/tab_02_btn_hover.png) center no-repeat;}
/* 客票验证 */
.check-tab{height:180px;padding-top:40px;padding-left:60px;display:none;background:url(../image/tab_03_bg.png)  no-repeat center;}
.check-tab div{margin-bottom:10px;}
.check-tab .lable{color:#6B6B6B;}
.check-tab  input{border:solid 1px #ccc;height:22px;line-height:22px;margin-left:10px;width:160px;}
.check-tab .myinput{width:100px;}
.check-tab img{width:50px;height:22px;margin-left:5px;vertical-align:middle}
.check-tab .search3{display:block;width:174px;height:33px;margin-left:30px;background:url(../image/tab_03_btn.png) center no-repeat;}
.check-tab .search3:hover{background:url(../image/tab_03_btn_hover.png) center no-repeat;}
/* 我的长龙*/
.my-tab{height:180px;display:none;padding-left:60px;padding-top:40px;background:url(../image/tab_04_bg.png) center no-repeat}
.my-tab div{margin-bottom:15px;}
.my-tab .lable{color:#6B6B6B;}
.my-tab .forget{color:#FC5416;margin-left:5px;}
.my-tab .change{color:#27783D;margin-left:5px;}
.my-tab  input{border:solid 1px #ccc;height:22px;line-height:22px;margin-left:10px;width:160px;}
.my-tab .myinput{width:100px;}
.my-tab img{width:50px;height:22px;margin-left:5px;vertical-align:middle}
.my-tab .search4{display:block;width:174px;height:33px;margin-left:30px;background:url(../image/tab_04_btn.png) center no-repeat;}
.my-tab .search4:hover{background:url(../image/tab_04_btn_hover.png) center no-repeat;}

#contentDiv .leftcontent{float:left;width:600px;margin-bottom:20px;}
.showimgdiv{padding-bottom:20px;width:580px;height:102px;padding-left:5px;padding-right:5px;}
.showimgdiv .outdiv{width:520px;height:102px;overflow:hidden;float:left;}
.showimgdiv .inner-div{float:left;position:relative;width:540px}
.pre{float:left;display:block;height:103px;width:15px;margin-right:5px;background:url(../image/banner_left.png) center no-repeat}
.next{float:left;display:block;height:103px;width:15px;margin-left:5px;background:url(../image/banner_right.png) center no-repeat}
/* 特价机票start*/
#contentDiv .leftcontent .city-div span{float:left;display:block;margin-right:10px;}
.city{float:left;display:block;width:41px;height:25px;float:left;}
.city-sel{float:left;background:url(../image/where_hover.png) center no-repeat;text-align:center;color:#fff;width:41px;height:25px;display:block;}
.routes-div-sh {display:block}
.routes-div-hz {display:none}
.routes-div-sh table{border-top:solid 1px #E4E4E4;border-right:solid 1px #E4E4E4;margin-bottom:20px;}
.routes-div-sh table tr td{height:110px;width:116px;border-left:solid 1px #E4E4E4;border-bottom:solid 1px #E4E4E4;background:#FDFDFD;text-align:center;font-size:14px;}
.routes-div-sh table tr td:hover{background:#2478D6;color:#fff}

.routes-div-hz table{border-top:solid 1px #E4E4E4;border-right:solid 1px #E4E4E4;margin-bottom:20px;}
.routes-div-hz table tr td{height:110px;width:116px;border-left:solid 1px #E4E4E4;border-bottom:solid 1px #E4E4E4;background:#FDFDFD;text-align:center;font-size:14px;}
.routes-div-hz table tr td:hover{background:#2478D6;color:#fff}
/* 特价机票end*/
#contentDiv .leftcontent .div1{float:left}
#contentDiv .leftcontent .div1 p{margin-bottom:10px;}
#contentDiv .leftcontent .div2{float:left;margin-left:60px;}
#contentDiv .leftcontent .div2  p{margin-bottom:10px;}
 .imgdiv{border:solid 3px #CECECE;width:254px;margin-top:10px;margin-bottom:10px;}
.title{width:250px;height:50px;overflow:hidden;}
#contentDiv .rightcontent{float:left;width:350px;margin-left:20px;}
#contentDiv .rightcontent .noticea{display:block;background:url(../image/arrowhead.png) left no-repeat;padding-left:15px;font-size:14px;font-weight:bold;color:#010101}
#contentDiv .rightcontent .contentp{height:50px;text-indent:2em;color:#6A6A6A}
#contentDiv .rightcontent  .div3{margin-top:45px;margin-left:80px}
#contentDiv .rightcontent  .div3 p{margin-bottom:10px;}

/*底部*/
.footerout{padding:10px;border-top:#E7E7E7 solid 1px}
#footer p{text-align:center;}
#footer p a{color:#555;margin:5px;}
#footer .footp{color:#8C8C8B}

